
@pink:#ffa69e;
@yellow:#faf3dd;
@greenblue:#b8f2e6;
@blue:#aed9d0;
@depgray:#5e6472;
button::after {
  border: none;
}

input {
  outline: none;
  border: none;
  list-style: none;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.header {
  // background: @pink;
  width: 100%;
  position: fixed;
  .header-input {
    .box {
      width: 300rpx;
      height: 32px;
      padding-left: 18%;
      position: relative;
      .input {
        width: 300rpx; 
        border-radius: 40rpx;
        background: white;
        padding-left: 60rpx;
      }
      .img {
        width: 40rpx;
        height: 40rpx;
        position: absolute;
        top: 12rpx;
        left: 151rpx;
      }
    }
  }
}
.content {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  position: relative;
}